footer {
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* heading section */
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.heading > img {
    width: 40px;
    height: 45px;
    margin-right: 16px;
}

footer > .heading > h2 {
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

footer #twig {
    color: #FF5400;
}


/* content section */
.content {
    width: 800px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}